<table style="border: 1px black solid;">
  {{#if productos}}
  <tr>
    <th id="id">ID</th>
    <th id="nombreHeader">Nombre</th>
    <th id="apellidoHeader">price</th>
    <th id="edadHeader"> Imagen</th>
  </tr>
  {{#each productos}}
    <tr>
      <td>
        {{this.id}}
      </td>
      <td>
        {{this.title}}
      </td>
      <td>
        {{this.price}}
      </td>
      <td>
       <img class="image-table rounded" src={{this.thumbnail}} alt=""> 
      </td>
    </tr>
    {{else}}
        <h3 class="empty">No content for iteration</h3>
   {{/each}}
   {{else}}
   <h2 class="text-danger">No se encontraron productos</h2>
   {{/if}}
   
</table>