<h3>Lista de Productos Disponibles:</h3>
<table style="border: 1px black solid;">
  <tr>
    <th id="id">ID</th>
    <th id="nombreHeader">Nombre</th>
    <th id="apellidoHeader">price</th>
    <th id="edadHeader"> Imagen</th>
  </tr>
  {{#each productos}}
    <tr>
      <td>
        {{this.id}}
      </td>
      <td>
        {{this.title}}
      </td>
      <td>
        {{this.price}}
      </td>
      <td>
       <img src={{this.thumbnail}} alt=""> 
      </td>
    </tr>
    {{else}}
        <h3 class="empty">No content</h3>
   {{/each}}
</table>